@keyframes btn_pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 2rem 0.5rem  rgba(0,0,0,0.25);
  }
  50% {
    transform: scale(1.2);
    box-shadow: 0 0 6rem 0rem  rgba(0,0,0,0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 2rem 0.5rem  rgba(0,0,0,0.25);
  }
}
@keyframes btn_pulse_mobile {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 2rem 0.5rem  rgba(0,0,0,0.25);
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 6rem 0rem  rgba(0,0,0,0.25);
  }
  100% {
    transform: scale(0.8);
    box-shadow: 0 0 2rem 0.5rem  rgba(0,0,0,0.25);
  }
}


.pulse_animation_btn{
  will-change: "auto";
  animation-name: btn_pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.25);
  @include respond-to($medium){
    will-change: "auto";
    animation-name: btn_pulse_mobile;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.25);

  }
}