// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$orange_dark: #be501d !default;
$orange: #FF631D !default;
$orange_light: #fd875c !default;

$primary: $orange !default;
$secondary: $orange_light !default;
$success: $orange !default;
$info: $orange !default;
$warning: $orange !default;
$danger: $orange !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// Rewrite Bootstrap
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: $white;
  background-color: $orange_light;
  border-color: $primary;
}
.btn-primary.focus, .btn-primary:focus {
  color: $white;
  background-color: $orange_light;
  border-color: $primary;
  box-shadow: none;
}
.btn-primary:hover {
  color: $white;
  background-color: $orange_light;
  border-color: $primary;
}
.btn-primary {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}

a {
  color: $gray-100;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  &:hover {
    color: $gray-500;
    text-decoration: underline;
  }
}